<%= form_for :category, url: category_path(@category), method: :patch do |f| %>
  <div class="box">
    <div class="box-header category-background-<%= @category.color %>">
      <h2>Редактирование категории '<%= @category.title %>'</h2>
    </div>

    <div class="box-divider m-a-0"></div>

    <div class="box-body">
      <div class="form-group">
        <%= f.text_field :title, class: 'form-control', placeholder: 'Название категории' %>
      </div>

      <div class="form-group">
        <%= f.text_area :description, class: 'form-control', placeholder: 'Краткое описание', rows: '4' %>
      </div>

      <div class="form-group">
        <%= f.select :color, Publication::Category.colors.keys.map { |c| [c.humanize, c] }, { prompt: 'Выберите цвет' }, class: "form-control c-select" %>
      </div>
    </div>

    <div class="box-body dker clearfix">
      <div class="form-action-buttons pull-right">
        <%= link_to 'Назад', :back, class: 'btn btn-default' %>
        <%= f.submit 'Сохранить', class: 'btn green' %>
      </div>
    </div>
  </div>
<% end %>
