<li class="tl-item tl-left">
  <div class="tl-wrap <%= post.pinned ? 'b-danger' : 'b-default' %>">
    <%# Post date %>
    <span class="tl-date text-muted">
      <span class="label <%= post.pinned ? 'danger' : 'default' %> pos-rlt m-r-xs">
        <%= post.created_at.strftime("%d/%m") %>
        <br>
        <small><%= post.created_at.strftime("%A") %></small>
      </span>
    </span>

    <div class="tl-content box-color white block">
      <%# Dropdown menu + category label %>
      <div class="box-tool">
        <ul class="nav">
          <li class="nav-item inline dropdown">
            <%# Category label %>
            <% if post.category.present? %>
              <%= link_to diary_category_path(post.category), class: 'm-r' do %>
                <span class="label category-background-<%= post.category.color %> pos-rlt m-r-xs">
                  <%= post.category.title %>
                </span>
              <% end %>
            <% end %>
              
            <a class="nav-link" data-toggle="dropdown">
              <i class="material-icons md-18">&#xe5d4;</i>
            </a>
            <div class="dropdown-menu pull-right">
              <%= link_to 'Редактировать', edit_diary_post_path(post), class: 'dropdown-item' %>
              <%= link_to 'Удалить', diary_post_path(post), method: :delete, class: 'dropdown-item', data: { confirm: 'Are you sure?' } %>
              <div class="dropdown-divider"></div>

              <% if post.pinned %>
                <%= form_for post, as: 'post', url: diary_post_path(post), method: :patch do |f| %>
                  <%= f.hidden_field :pinned, value: false %>
                  <%= f.submit 'Открепить', class: 'dropdown-item' %>
                <% end %>
              <% else %>
                <%= form_for post, as: 'post', url: diary_post_path(post), method: :patch do |f| %>
                  <%= f.hidden_field :pinned, value: true %>
                  <%= f.submit 'Закрепить', class: 'dropdown-item' %>
                <% end %>
              <% end %>
            </div>
          </li>
        </ul>
      </div>

      <span class="arrow b-white left pull-top hidden-left"></span>
      <span class="arrow b-white right pull-top visible-left"></span>

      <%# Post header  %>
      <div class="text-lt p-x m-b-sm">
        <% if post.pinned %>
          <span class="text-danger"><i class="fa fa-thumb-tack"></i></span>
        <% end %>

        <% if post.supplemented %>
          <span class="text-primary"><i class="fa fa-refresh"></i></span>
        <% end %>


        <b><%= link_to post.title, diary_post_path(post) %></b>

        <% if post.tags.present? %>
          <small class="text-muted"><br>
            <% post.tags.each do |tag| %>
              <%= link_to "##{tag.name}", diary_tag_path(tag.name), class: "label" %>
            <% end %>
          </small>
        <% end %>
      </div>

      <%# Post content + tags %>
      <div class="p-a b-t b-light">
        <%= truncate_html post.content, :length => 400 %>
      </div>
    </div>
  </div>
</li>