<% if @posts.present? %>
  <% @posts.pinned.each do |post| %>
    <%= link_to diary_post_path(post) do %>
      <%= render partial: 'diary/posts/post', locals: { post: post } %>
    <% end %>
  <% end %>

  <div id="posts">
    <% @posts.unpinned.each do |post| %>
      <%= link_to diary_post_path(post) do %>
        <%= render partial: 'diary/posts/post', locals: { post: post } %>
      <% end %>
    <% end %>
  </div>

  <div class="text-center">
    <%= will_paginate @posts, renderer: ::PaginateHelper::LinkRenderer %>
  </div>
<% else %>
  <div class="box m-t">
    <div class="p-a text-center">
      <i class="fa fa-huge text-muted fa-pencil"></i> <br>
      <h3 class="m-t block">Нет записей</h3>

      <p>В Вашем дневнике пока что пусто</p>
      <p><%= link_to 'Создать запись', new_diary_post_path, class: 'btn primary' %></p>
    </div>
  </div>
<% end %>
