%h1= "DIARY of #{current_user.name}"

%table
  %thead
    %tr
      %th Content
      %th Supplemented
      %th Pinned
      %th Supplement date
      %th User
      %th Category
      %th Type
      %th
      %th
      %th

  %tbody
    - @posts.each do |post|
      %tr
        %td= post.content
        %td= post.supplemented
        %td= post.pinned
        %td= post.supplement_date
        %td= post.user_id
        %td= post.category_id
        %td= post.type
        %td= link_to 'Show post', diary_post_path(post)
        %td= link_to 'Edit post', edit_diary_post_path(post)
        %td= link_to 'Destroy post', diary_post_path(post), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Diary post', new_diary_post_path

%hr

%h1 DIARY categories

%table
  %thead
    %tr
      %th Title
      %th Description
      %th Color
      %th User
      %th Type
      %th
      %th
      %th

  %tbody
    - @categories.each do |category|
      %tr
        %td= category.title
        %td= category.description
        %td= category.color
        %td= category.user_id
        %td= category.type
        %td= link_to 'Show category', diary_category_path(category)
        %td= link_to 'Edit category', edit_diary_category_path(category)
        %td= link_to 'Destroy category', diary_category_path(category), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Category', new_diary_category_path

%hr

%h1 Search and filters

= form_tag diary_search_index_path, method: :get do
  %p
    %b Enter your search query
    = text_field_tag 'query', params[:query]

  %p
    %b Posts conditions
    %p
      = check_box_tag 'post[supplemented]'
      = label_tag 'Supplemeted'
    %p
      = check_box_tag 'post[pinned]'
      = label_tag 'Pinned'
    %p
      = label_tag 'Posts from'
      = date_field_tag 'post[from_date]'
    %p
      = label_tag 'Posts to'
      = date_field_tag 'post[to_date]'

    %p
      %b Comments conditions

      %p
        = label_tag 'Comments from'
        = date_field_tag 'comment[from_date]'
      %p
        = label_tag 'Comments to'
        = date_field_tag 'comment[to_date]'

  = submit_tag "Search"