%h1 New DIARY post

= form_for :post, url: diary_posts_path, method: :post do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :content
    = f.cktext_area :content
  .field
    = f.label :supplemented
    = f.check_box :supplemented
  .field
    = f.label :pinned
    = f.check_box :pinned
  .field
    = f.label :supplement_date
    = f.datetime_select :supplement_date
  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :category_id
    = f.select :category_id, @categories.collect {|c| [ c.title, c.id ] }, { include_blank: true }
  .field
    = f.label :type
    = f.text_field :type
  -# .field
  -#   = f.label :all_tags
  -#   = f.text_field :all_tags
  .actions
    = f.submit 'Save'

= link_to 'Back', diary_posts_path
