<li class="tl-item tl-left">
  <div class="tl-wrap <%= @post.pinned ? 'b-danger' : 'b-default' %>">
    <%# POST %>
    <span class="tl-date text-muted">
      <span class="label <%= @post.pinned ? 'danger' : 'default' %> pos-rlt m-r-xs">
        <%= @post.created_at.strftime("%d/%m") %>
        <br>
        <small><%= @post.created_at.strftime("%A") %></small>
      </span>
    </span>

    <div class="tl-content box-color white block">
      <%# Dropdown menu + category label %>
      <div class="box-tool">
        <ul class="nav">
          <li class="nav-item inline dropdown">
            <a class="nav-link" data-toggle="dropdown">
              <%# Category label %>
              <% if @post.category.present? %>
                <span class="label default pos-rlt m-r-xs">
                  <%= @post.category.title %>
                </span>
              <% end %>

              <i class="material-icons md-18">&#xe5d4;</i>
            </a>
            <div class="dropdown-menu pull-right">
              <%= link_to 'Редактировать', edit_diary_post_path(@post), class: 'dropdown-item' %>
              <%= link_to 'Удалить', diary_post_path(@post), method: :delete, class: 'dropdown-item', data: { confirm: 'Are you sure?' } %>

              <% if @post.pinned %>
                <div class="dropdown-divider"></div>
                <%= link_to 'Открепить', '#', class: 'dropdown-item' %>
              <% end %>
            </div>
          </li>
        </ul>
      </div>

      <span class="arrow b-white left pull-top hidden-left"></span>
      <span class="arrow b-white right pull-top visible-left"></span>

      <%# Post header  %>
      <div class="text-lt p-x m-b-sm">
        <% if @post.pinned %>
          <span class="text-danger"><i class="fa fa-thumb-tack"></i></span>
        <% end %>

        <% if @post.supplemented %>
          <span class="text-primary"><i class="fa fa-refresh"></i></span>
        <% end %>

        <b><%= link_to @post.title, diary_post_path(@post) %></b>

        <% if @post.tags.present? %>
          <small class="text-muted"><br>
            <% @post.tags.each do |tag| %>
              <%= link_to "##{tag.name}", diary_tag_path(tag.name), class: "label" %>
            <% end %>
          </small>
        <% end %>
      </div>

      <%# Post content + tags %>
      <div class="p-a b-t b-light">
        <%= @post.content.html_safe %>
      </div>
    </div>

    <%# Comment form %>
    <%= render partial: 'shared/new_comment_form', locals: { url: diary_post_comments_path(@post) } %>

    <%# Post comments %>
    <% if @comments.present? %>
      <div class="box">
        <div class="box-body">
          <div class="streamline b-l m-l">

            <% @comments.each do |comment| %>
              <div class="sl-item b-primary">

                <%# comment options  %>
                <div class="box-tool">
                  <ul class="nav">
                    <li class="nav-item inline dropdown">
                      <a class="nav-link" data-toggle="dropdown">
                        <i class="material-icons md-18">&#xe5d4;</i>
                      </a>
                      <div class="dropdown-menu pull-right">
                        <%= link_to 'Редактировать', edit_diary_post_comment_path(@post, comment), class: 'dropdown-item', remote: true %>
                        <%= link_to 'Удалить', diary_post_comment_path(@post, comment), method: :delete, class: 'dropdown-item', data: { confirm: 'Are you sure?' } %>
                      </div>
                    </li>
                  </ul>
                </div>

                <%# comment  %>
                <div class="sl-content">
                  <div class="sl-date text-muted"><%= format_datetime(comment.created_at) %></div>
                  <div id="comment-<%= comment.id %>"><%= comment.content %></div>
                </div>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    <% end %>

  </div>
</li>

