%p#notice= notice

%h1 DIARY POST:

%p
  %b Content:
  = @post.content.html_safe
%p
  %b Supplemented:
  = @post.supplemented
%p
  %b Pinned:
  = @post.pinned
%p
  %b Supplement date:
  = @post.supplement_date
%p
  %b User:
  = @post.user_id
%p
  %b Category:
  = @post.category_id
%p
  %b Type:
  = @post.type
-# %p
-#   %b Tags:
-#   - @post.tags.each do |tag|
-#     = link_to tag.name, tag_path(tag.name)

= link_to 'Edit', edit_diary_post_path(@post)
\|
= link_to 'Back', diary_posts_path

-# %br

-# %h1 Listing comments

-# %table
-#   %thead
-#     %tr
-#       %th Content
-#       %th Post
-#       %th User
-#       %th Type
-#       %th Votes
-#       %th
-#       %th
-#       %th

-#   %tbody
-#     - @comments.each do |comment|
-#       %tr
-#         %td= comment.content
-#         %td= comment.post_id
-#         %td= comment.user_id
-#         %td= comment.type
-#         %td= "#{comment.votes.count} users voted"
-#         - if user_vote_on(comment).present?
-#           %td= link_to 'Unlike', post_comment_vote_path(@post, comment, user_vote_on(comment)), method: :delete
-#         - else
-#           %td= link_to 'Vote', post_comment_votes_path(@post, comment), method: :post
-#         %td
-#           - if comment.user == current_user
-#             = link_to 'Edit comment', edit_post_comment_path(@post, comment)
-#             = link_to 'Destroy comment', post_comment_path(@post, comment), method: :delete, data: { confirm: 'Are you sure?' }

-# %br

-# = link_to 'New Comment', new_post_comment_path(@post)
