<div class="box m-t">
  <div class="box-header category-background-<%= @category.color %>">
    <h3>
      Категория <b>"<%= @category.title %>"</b>
      <span class="label"><%= @category.diary_posts.count %> записей</span>
    </h3>
    <small><%= @category.description %></small>

    <div class="box-tool">
      <ul class="nav">
        <li class="nav-item inline">
          <%= link_to diary_posts_path, class: 'nav-link m-r' do %>
            Все записи
          <% end %>
        </li>
        <li class="nav-item inline dropdown">
          <a class="nav-link" data-toggle="dropdown">
            <i class="material-icons md-18"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-scale pull-right">
            <%= link_to 'Редактировать', edit_diary_category_path(@category), class: 'dropdown-item' %>
            <%= link_to 'Удалить', diary_category_path(@category), method: :delete, data: { confirm: 'Вы уверены?' }, class: 'dropdown-item' %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="p-x">
  <%= render template: 'diary/posts/index' %>
</div>