%h4 Регистрация нового аккаунта

= form_for resource, as: resource_name, url: registration_path(resource_name), html: { class: 'ui large form' } do |f|
  .ui.stacked.segment
    .field= f.text_field :name, placeholder: 'Имя', autofocus: true
    .field= f.email_field :email, placeholder: 'Электронная почта'
    .field= f.password_field :password, placeholder: "Пароль (минимум #{@minimum_password_length} символов)"
    .field= f.password_field :password_confirmation, placeholder: 'Повторите пароль'

    .actions= f.submit "Зарегистрироваться", class: 'ui fluid large teal submit button'

  .additional.links
    %p== Уже зарегистрированы? #{link_to 'Вход', new_session_path(resource_name)}