<div class="navbar">
  <div class="container">
    <a data-toggle="collapse" data-target="#navbar-1" class="navbar-item pull-right hidden-md-up m-a-0 m-l">
      <i class="material-icons">&#xe5d2;</i>
    </a>
    <%= link_to root_path, class: 'navbar-brand' do %>
      <span class="hidden-folded inline">LifeLog</span>
    <% end %>

    <!-- navbar right -->
    <ul class="nav navbar-nav pull-right m-l">
      <li class="nav-item dropdown">
        <a href class="nav-link dropdown-toggle clear" data-toggle="dropdown">
          <span class="avatar w-32">
            <%= image_tag(current_user.photo_url, class: 'img-circle') %>
            <i class="on b-white bottom"></i>
          </span>
          <span class="hidden-sm-down _500"><%= current_user.name %></span>
        </a>

        <!-- User dropdown -->
        <div class="dropdown-menu pull-right dropdown-menu-scale">
          <%= link_to 'Админ-панель', admin_users_path, class: "dropdown-item" if (current_user.admin? || current_user.support?) %>
          <%= link_to 'Поддержка', '/support', class: "dropdown-item" %>
          <%= link_to 'Написать разработчикам', '/contacts', class: "dropdown-item" %>
          <%= link_to 'Настройки', edit_user_registration_path, class: "dropdown-item" %>
          <%= link_to 'Выход', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>
    </ul>

    <!-- navbar collapse -->
    <div class="collapse navbar-toggleable-sm" id="navbar-1">
      <ul class="nav navbar-nav nav-active-border b-{{app.setting.theme.primary}}">
        <li class="nav-item">
          <%= link_to news_feed_path, class: "nav-link #{nav_section_selected?('news_feed')}" do %>
            <span class="nav-text">Лента новостей</span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to posts_path, class: "nav-link #{nav_section_selected?('publications')}" do %>
            <span class="nav-text">Публикации</span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to diary_posts_path, class: "nav-link #{nav_section_selected?('diary')}" do %>
            <span class="nav-text">Дневник</span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to objectives_goals_path, class: "nav-link #{nav_section_selected?('objectives')}" do %>
            <span class="nav-text">Цели и задачи</span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
