%h1 Editing comment

= form_for :comment, url: post_comment_path(@post, @comment), method: :patch do |f|
  - if @comment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@comment.errors.count, "error")} prohibited this comment from being saved:"
      %ul
        - @comment.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :content
    = f.text_area :content
  .field
    = f.label :post_id
    = f.number_field :post_id
  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :type
    = f.text_field :type
  .actions
    = f.submit 'Save'


= link_to 'Back', post_path(@post)
