<% if posts.present? %>
  <div class="box p-a-sm">
    <% posts.each do |post| %>
      <ul class="list">
        <li class="list-item">
          <div class="clear">
            <h5 class="m-a-0 m-b-sm"><%= link_to post.title, post_path(post) %></h5>
            <p class="text-muted"><%= truncate_html post.content, :length => 400 %></p>
            
            <% if post.tags.present? %>
              <% post.tags.each do |tag| %>
                <%= link_to "##{tag.name}", tag_path(tag.name), class: "label" %>
              <% end %>
            <% end %>
          </div>
        </li>
        <div class="dropdown-divider"></div>
      </ul>
    <% end %>
  </div>

  <div class="text-center">
    <%= will_paginate @posts, param_name: 'posts_page', renderer: ::PaginateHelper::LinkRenderer %>
  </div>
<% else %>
  <%= render partial: 'no_content' %>
<% end %>