<table class="table table-striped b-t">
  <tr>
    <th>ID<td>
    <td><%= @visit.id %></td>
  </tr>
  <tr>
    <th>visit_token<td>
    <td><%= @visit.visit_token %></td>
  </tr>
  <tr>
    <th>visitor_token<td>
    <td><%= @visit.visitor_token %></td>
  </tr>
  <tr>
    <th>ip<td>
    <td><%= @visit.ip %></td>
  </tr>
  <tr>
    <th>user_agent<td>
    <td><%= @visit.user_agent %></td>
  </tr>
  <tr>
    <th>referrer<td>
    <td><%= @visit.referrer %></td>
  </tr>
  <tr>
    <th>landing_page<td>
    <td><%= @visit.landing_page %></td>
  </tr>
  <tr>
    <th>user_id<td>
    <td><%= @visit.user_id %></td>
  </tr>
  <tr>
    <th>referring_domain<td>
    <td><%= @visit.referring_domain %></td>
  </tr>
  <tr>
    <th>search_keyword<td>
    <td><%= @visit.search_keyword %></td>
  </tr>
  <tr>
    <th>browser<td>
    <td><%= @visit.browser %></td>
  </tr>
  <tr>
    <th>os<td>
    <td><%= @visit.os %></td>
  </tr>
  <tr>
    <th>device_type<td>
    <td><%= @visit.device_type %></td>
  </tr>
  <tr>
    <th>screen_height<td>
    <td><%= @visit.screen_height %></td>
  </tr>
  <tr>
    <th>screen_width<td>
    <td><%= @visit.screen_width %></td>
  </tr>
  <tr>
    <th>country<td>
    <td><%= @visit.country %></td>
  </tr>
  <tr>
    <th>region<td>
    <td><%= @visit.region %></td>
  </tr>
  <tr>
    <th>city<td>
    <td><%= @visit.city %></td>
  </tr>
  <tr>
    <th>postal_code<td>
    <td><%= @visit.postal_code %></td>
  </tr>
  <tr>
    <th>latitude<td>
    <td><%= @visit.latitude %></td>
  </tr>
  <tr>
    <th>longitude<td>
    <td><%= @visit.longitude %></td>
  </tr>
  <tr>
    <th>started_at<td>
    <td><%= @visit.started_at %></td>
  </tr>
</table>