<div class="box">

  <div class="box-body">
    <div class="streamline b-l m-l">

      <% @actions.each do |action| %>
        <div id="action-<%= action.id %>" class="sl-item b-<%= action_style(action)[:color] %>">

          <% if action_style(action)[:icon].present? %>
            <div class="sl-icon">
              <i class="fa fa-<%= action_style(action)[:icon] %>"></i>
            </div>
          <% end %>

          <div class="sl-content">
            <div class="sl-date text-muted">
              <b><%= link_to "Действие к цели '#{action.goal.title}'", objectives_goal_path(action.goal) %></b>
              (<%= format_datetime(action.created_at) %>)
            </div>
            <div><%= action.content %></div>
          </div>
        </div>
      <% end %> 

    </div>
  </div>
</div>

<div class="text-center">
  <%= will_paginate @actions, param_name: 'actions_page', renderer: ::PaginateHelper::LinkRenderer %>
</div>