<div class="list box">
  <% tasks.each do |task| %>
    <div id="task-<%= task.id %>" class="list-item">

      <div class="list-right">
        <%= link_to objectives_goal_path(task.goal), class: 'text-muted' do %>
          <small><%= task.goal.title %></small> <i class="fa fa-arrow-right"></i>
        <% end %>
      </div>

      <div class="list-left">
        <% if task.actual? %>
          <%= link_to done_objectives_goal_task_path(task.goal, task), method: :patch, class: 'text-muted text-success' do %>
            <i class="fa fa-lg fa-square-o"></i>
          <% end %>
        <% else %>
          <%= link_to undone_objectives_goal_task_path(task.goal, task), method: :patch, class: 'text-muted text-primary' do %>
            <i class="fa fa-lg fa-check-square-o"></i>
          <% end %>
        <% end %>
      </div>

      <div class="list-body">
        <% if task.actual? %>
          <%= task.title %>
        <% else %>
          <s class="tex-muted"><%= task.title %></s>
        <% end %>
      </div>
    </div>

  <% end %>
</div>

<div class="text-center">
  <%= will_paginate @tasks, param_name: 'tasks_page', renderer: ::PaginateHelper::LinkRenderer %>
</div>