<div class="box">
  <div class="box-header category-background-<%= @category.color %>">
    <h3>Категория <%= @category.title %> <span class="label default"><%= @category.publication_posts.count %> записей</span></h3>
    <small><%= @category.description %></small>
  </div>
</div>

<%= render template: 'publications/users/posts/index' %>
