%h1= "Diary posts with tag (#{@tag.name})"

%table
  %thead
    %tr
      %th Content
      %th Supplemented
      %th Pinned
      %th Supplement date
      %th User
      %th Category
      %th Type
      %th
      %th
      %th

  %tbody
    - @posts.each do |post|
      %tr
        %td= post.content
        %td= post.supplemented
        %td= post.pinned
        %td= post.supplement_date
        %td= post.user_id
        %td= post.category_id
        %td= post.type
        %td= link_to 'Show post', diary_post_path(post)
        %td= link_to 'Edit post', edit_diary_post_path(post)
        %td= link_to 'Destroy post', diary_post_path(post), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Post', new_diary_post_path
\|
= link_to 'To home', diary_posts_path

