<div id='new-comment-box' class="box">
  <div class="box-header comment-box-header">
    <span class="avatar w-32">
      <%= image_tag(current_user.photo_url, class: 'img-circle') %>
      <i class="on b-white bottom"></i>
    </span>

    <textarea rows='1' id='new-comment-area' class="form-control new-comment-input" placeholder='Ваш комментарий'></textarea>
  </div>
</div>


<div id='new-comment-form' class="box hidden">
  <%= form_for :comment, url: url, method: :post do |f| %>
    <div class="box-header">
        <%= f.text_area :content, rows: 1, class: 'form-control new-comment-input', placeholder: 'Ваш комментарий' %>
    </div>

    <div class="box-footer dker clearfix">
      <span class="avatar w-32">
        <%= image_tag(current_user.photo_url, class: 'img-circle') %>
        <i class="on b-white bottom"></i>
        &nbsp;<%= current_user.name %>
      </span>

      <div class="form-action-buttons pull-right">
        <%= link_to 'Отмена', '#', id: 'comment-cancel-btn', class: "btn btn-sm btn-default" %>
        <%= f.submit 'Отправить', class: 'btn btn-sm btn-primary' %>
      </div>
    </div>
  <% end %>
</div>