<%= form_for object, url: url, method: method do |f| %>

  <div class="list-left">
    <%= button_tag(type: 'submit', class: "btn btn-#{method == :post ? 'success' : 'warning' } btn-sm no-shadow") do %>
      <i class="fa fa-<%= method == :post ? 'plus' : 'check' %>"></i>
    <% end %>
  </div>

  <div class="list-body">
    <div class="row">
      <div class="col-md-8">
        <%= f.text_field :title, class: 'form-control form-control-sm' %>
      </div>

      <div class="col-md-3">
        <%= f.select :status, Objective::Task.statuses.keys.map { |s| [s.humanize, s] }, {}, class: 'form-control form-control-sm c-select' %>
      </div>
    </div>
  </div>

<% end %>