<div class="box primary dk">
  <div id="current-category-box" class="box-body">
    <div class="box-tool">
      <ul class="nav">
        <li class="nav-item inline dropdown">
          <%= link_to 'Все цели', objectives_goals_path %>

          <a class="nav-link" data-toggle="dropdown">
            <i class="material-icons md-18"></i>
          </a>

          <div class="dropdown-menu pull-right">
            <%= link_to 'Редактировать', edit_objectives_category_path(@category), remote: true, class: 'dropdown-item' %>
            <%= link_to 'Удалить', objectives_category_path(@category), method: :delete, data: { confirm: 'Вы уверены?' }, class: 'dropdown-item' %>
          </div>
        </li>
      </ul>
    </div>
    
    <div class="clear">Категория <b>'<%= @category.title %>'</b> <span class="label info"><%= @category.goals.count %></span></div>
  </div>
</div>

<% goals.each do |goal| %>
  <div class="list-item pointer">
    <div id="goals-list" class="list-body">

      <% if goal.completed? %>
        <i class="fa fa-check-circle-o icon-green"></i>
        <strong class="text-muted">
          <s><%= link_to goal.title, objectives_goal_path(goal) %></s>
        </strong>
      <% else %>
        <strong><%= link_to goal.title, objectives_goal_path(goal) %></strong>
      <% end %>

      <div class="text-sm">
        <span class="text-muted">
          <strong><%= format_datetime(goal.end_date) %>|</strong>
          <strong><%= goal.tasks.count %></strong> задач
        </span> 
      </div>

      <% if goal.tags.present? %>
        <div class="text-sm">
          <% goal.tags.each do |tag| %>
            <span class="label"><%= link_to "##{tag.name}", objectives_tag_path(tag) %></span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>