%h1= "GOALS of #{current_user.name}"

%table
  %thead
    %tr
      %th Title
      %th Description
      %th Status
      %th Progress
      %th Start date
      %th End date
      %th Category
      %th Parent
      %th User
      %th
      %th
      %th

  %tbody
    - @goals.each do |goal|
      %tr
        %td= goal.title
        %td= goal.description
        %td= goal.status
        %td= goal.progress
        %td= goal.start_date
        %td= goal.end_date
        %td= goal.category_id
        %td= goal.parent_id
        %td= goal.user_id
        %td= link_to 'Show goal', objectives_goal_path(goal)
        %td= link_to 'Edit goal', edit_objectives_goal_path(goal)
        %td= link_to 'Destroy goal', objectives_goal_path(goal), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New goal', new_objectives_goal_path

%hr

%h1 OBJECTIVES categories

%table
  %thead
    %tr
      %th Title
      %th Description
      %th Color
      %th User
      %th Type
      %th
      %th
      %th

  %tbody
    - @categories.each do |category|
      %tr
        %td= category.title
        %td= category.description
        %td= category.color
        %td= category.user_id
        %td= category.type
        %td= link_to 'Show category', objectives_category_path(category)
        %td= link_to 'Edit category', edit_objectives_category_path(category)
        %td= link_to 'Destroy category', objectives_category_path(category), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Category', new_objectives_category_path


%h1 Search and filters

= form_tag objectives_search_index_path, method: :get do
  %p
    %b Enter your search query
    = text_field_tag 'query', params[:query]

  %p
    %b Goals conditions
    %p
      = label_tag 'Status'
      = select_tag 'goal[status]', 
        options_from_collection_for_select(Objective::Goal.statuses.map {|s| [s.first.humanize, s.last]}, "last", "first"), 
        include_blank: true
    %p
      = label_tag 'goals start date from'
      = date_field_tag 'goal[from_date]'
    %p
      = label_tag 'goals start date to'
      = date_field_tag 'goal[to_date]'

    %p
      %b Tasks conditions
      %p
        = label_tag 'Status'
        = select_tag 'task[status]', 
          options_from_collection_for_select(Objective::Task.statuses.map {|s| [s.first.humanize, s.last]}, "last", "first"), 
          include_blank: true

  = submit_tag "Search"