%p#notice= notice

%h1 GOAL SHOW:

%p
  %b Title:
  = @goal.title
%p
  %b Description:
  = @goal.description.html_safe
%p
  %b Status:
  = @goal.status
%p
  %b Progress:
  = @goal.progress
%p
  %b Start date:
  = @goal.start_date
%p
  %b End date:
  = @goal.end_date
%p
  %b Category:
  = @goal.category_id
%p
  %b Parent id:
  = @goal.parent_id
%p
  %b User id:
  = @goal.user_id
%p
  %b Tags:
  - @goal.tags.each do |tag|
    = link_to tag.name, objectives_tag_path(tag.name)

= link_to 'Edit', edit_objectives_goal_path(@goal)
\|
= link_to 'Back', objectives_goals_path


%h3 Subgoals:

- @goal.subgoals.each do |goal|
  %b= goal.title


%h3 Tasks:

- @tasks.each do |task|
  %p
    %b= task.title
    =link_to 'Edit', edit_objectives_goal_task_path(@goal, task)
    =link_to 'Destroy', objectives_goal_task_path(@goal, task), method: :delete, data: { confirmation: 'Are you sure?' }

    -if task.subtasks.present?
      - task.subtasks.each do |subtask|
        %p
          = subtask.title
          =link_to 'Edit', edit_objectives_goal_task_path(@goal, subtask)
          =link_to 'Destroy', objectives_goal_task_path(@goal, subtask), method: :delete, data: { confirmation: 'Are you sure?' }
      %hr


= link_to 'New task for this goal', new_objectives_goal_task_path(@goal)