%h1= "USER #{@user.name} PAGE"
%h1 User::SHOW POST

%p
  %b Title:
  = @post.title
%p
  %b Content:
  = @post.content
%p
  %b Supplemented:
  = @post.supplemented
%p
  %b Pinned:
  = @post.pinned
%p
  %b Visible:
  = @post.visible
%p
  %b Commenting:
  = @post.commenting
%p
  %b Supplement date:
  = @post.supplement_date
%p
  %b User:
  = @post.user_id
%p
  %b Category:
  = @post.category_id
%p
  %b Type:
  = @post.type
%p
  %b Tags:
  - @post.tags.each do |tag|
    = link_to tag.name, tag_path(tag.name)

= link_to 'Back', user_posts_path(@user)

%br

/ %h1 Listing comments

/ %table
/   %thead
/     %tr
/       %th Content
/       %th Post
/       %th User
/       %th Type
/       %th Votes
/       %th
/       %th
/       %th

/   %tbody
/     - @comments.each do |comment|
/       %tr
/         %td= comment.content
/         %td= comment.post_id
/         %td= comment.user_id
/         %td= comment.type
/         %td= "# users voted"
/         - if user_vote(comment).present?
/           %td= link_to 'Unlike', post_comment_vote_path(@post, comment, user_vote(comment)), method: :delete
/         - else
/           %td= link_to 'Vote', post_comment_votes_path(@post, comment), method: :post
/         %td= link_to 'Edit comment', edit_post_comment_path(@post, comment)
/         %td= link_to 'Destroy comment', post_comment_path(@post, comment), method: :delete, data: { confirm: 'Are you sure?' }

/ %br

/ = link_to 'New Comment', new_post_comment_path(@post)
