%h1= "USER #{@user.name} PAGE"
%h1 User::SHOW POST

%p
  %b Title:
  = @post.title
%p
  %b Content:
  = @post.content
%p
  %b Supplemented:
  = @post.supplemented
%p
  %b Pinned:
  = @post.pinned
%p
  %b Visible:
  = @post.visible
%p
  %b Commenting:
  = @post.commenting
%p
  %b Supplement date:
  = @post.supplement_date
%p
  %b User:
  = @post.user_id
%p
  %b Category:
  = @post.category_id
%p
  %b Type:
  = @post.type
%p
  %b Tags:
  - @post.tags.each do |tag|
    = link_to tag.name, tag_path(tag.name)

= link_to 'Back', user_posts_path(@user)

%br

%h1 Listing comments

%table
  %thead
    %tr
      %th Content
      %th Post
      %th User
      %th Type
      %th Votes
      %th
      %th

  %tbody
    - @comments.each do |comment|
      %tr
        %td= comment.content
        %td= comment.post_id
        %td= comment.user_id
        %td= comment.type
        %td= "#{comment.votes.count} users voted"
        - if user_vote_on(comment).present?
          %td= link_to 'Unlike', user_post_comment_vote_path(@user, @post, comment, user_vote_on(comment)), method: :delete
        - else
          %td= link_to 'Vote', user_post_comment_votes_path(@user, @post, comment), method: :post
        %td
          - if comment.user == current_user
            = link_to 'Edit comment', edit_user_post_comment_path(@user, @post, comment)
            = link_to 'Destroy comment', user_post_comment_path(@user, @post, comment), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Comment', new_user_post_comment_path(@user, @post) if user_signed_in?
