%h1 Listing posts

%table
  %thead
    %tr
      %th Title
      %th Content
      %th Supplemented
      %th Pinned
      %th Visible
      %th Commenting
      %th Supplement date
      %th User
      %th Category
      %th Type
      %th
      %th
      %th

  %tbody
    - @posts.each do |post|
      %tr
        %td= post.title
        %td= post.content
        %td= post.supplemented
        %td= post.pinned
        %td= post.visible
        %td= post.commenting
        %td= post.supplement_date
        %td= post.user_id
        %td= post.category_id
        %td= post.type
        %td= link_to 'Show post', post_path(post)
        %td= link_to 'Edit post', edit_post_path(post)
        %td= link_to 'Destroy post', post_path(post), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Post', new_post_path


%hr

%h1 Listing categories

%table
  %thead
    %tr
      %th Title
      %th Description
      %th Color
      %th User
      %th Type
      %th
      %th
      %th

  %tbody
    - @categories.each do |category|
      %tr
        %td= category.title
        %td= category.description
        %td= category.color
        %td= category.user_id
        %td= category.type
        %td= link_to 'Show category', category_path(category)
        %td= link_to 'Edit category', edit_category_path(category)
        %td= link_to 'Destroy category', category_path(category), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Category', new_category_path

%hr

%h1 Search and filters

= form_tag search_index_path, method: :get do
  %p
    %b Что ищем?
    = text_field_tag 'query', params[:query]

  %p
    %b По постам есть ограничения?
    %p
      = check_box_tag 'post[supplemented]'
      = label_tag 'Дополненные'
    %p
      = check_box_tag 'post[pinned]'
      = label_tag 'Закрепленные'
    %p
      = check_box_tag 'post[visible]'
      = label_tag 'Видимые'
    %p
      = check_box_tag 'post[commenting]'
      = label_tag 'Комментруемые'
    %p
      = label_tag 'Посты от'
      = date_field_tag 'post[from_date]'
    %p
      = label_tag 'Посты ДО'
      = date_field_tag 'post[to_date]'

    %p
      %b По комментахах ограничения?

      %p
        = label_tag 'Комменты от'
        = date_field_tag 'comment[from_date]'
      %p
        = label_tag 'Комменты ДО'
        = date_field_tag 'comment[to_date]'

  = submit_tag "Гоу"