<div class="box">
  <!-- post header -->
  <div class="box-header <%= @post.pinned ? 'pinned-post-header' : 'dker' %>">
    <h3>
      <% if @post.pinned %>
        <i class="fa fa-thumb-tack"></i>
        <b><%= @post.title %></b>
      <% else %>
        <%= @post.title %>
      <% end %>

      <% if @post.supplemented %>
        <span class="label success">Обновлено</span>
      <% end %>

      <% unless @post.visible %>
        <span class="label blue-grey">Скрыт</span>
      <% end %>
    </h3>
    <small>
      <%= format_datetime(@post.created_at) %>
      <%= "(Обновлено #{format_datetime(@post.supplemented_at)})" if @post.supplemented %>  
    </small>
  </div>

  <!-- post dropdown menu -->
  <div class="box-tool">
    <ul class="nav">
      <li class="nav-item inline dropdown">
        <a class="nav-link" data-toggle="dropdown"><i class="material-icons md-18">&#xe5d4;</i>
        </a>
        <div class="dropdown-menu pull-right">
          <%= link_to 'Редактировать', edit_post_path(@post), class: 'dropdown-item' %>
          <%= link_to 'Удалить', post_path(@post), method: :delete, class: 'dropdown-item', data: { confirm: 'Are you sure?' } %>
          <% if @post.pinned %>
            <div class="dropdown-divider"></div>
            <%= form_for @post, as: 'post', url: post_path(@post), method: :patch do |f| %>
              <%= f.hidden_field :pinned, value: false %>
              <%= f.submit 'Открепить', class: 'dropdown-item' %>
            <% end %>
          <% else %>
            <div class="dropdown-divider"></div>
            <%= form_for @post, as: 'post', url: post_path(@post), method: :patch do |f| %>
              <%= f.hidden_field :pinned, value: true %>
              <%= f.submit 'Закрепить', class: 'dropdown-item' %>
            <% end %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>

  <!-- post content -->
  <div class="box-body">
    <p class="m-a-0">
      <% if current_page?(controller: 'posts', action: 'index') %>
        <%= truncate_html @post.content, :length => 400 %>
      <% else %>
        <%= raw @post.content %>
      <% end %>
    </p>

    <% if @post.tags.present? %>
      <div class="dropdown-divider"></div>
      <div class="post-footer">
        <small>
          Теги: 
          <% @post.tags.each do |tag| %>
            <%= link_to "##{tag.name}", tag_path(tag.name) %>
          <% end %>
        </small>
      </div>
    <% end %>
  </div>
</div>

<% if @post.commentable %>
  <%= render partial: 'shared/new_comment_form', locals: { url: post_comments_path(@post) } %>
<% end %>

<% if @comments.present? %>
  <div class="box">
    <div class="box-header">
      <h3>
        Комментарии 
        <span class="label default"><%= @post.comments.count %></span>

        <% unless @post.commentable %>
        <small class="pull-right text-muted">Вы отключили комментарии</small>
        <% end %>
      </h3>
    </div>

    <div class="box-body">
      <div id="comments" class="streamline b-l m-l-md">

        <% @comments.each do |comment| %>
          <div class="sl-item">
            <div class="sl-left"><%= image_tag(current_user.photo_url, class: 'img-circle') %></div>
            <div id='comment-<%= comment.id %>' class="sl-content">

              <ul class="nav comment-dropdown">
                <li class="nav-item inline dropdown">
                  <a class="nav-link" data-toggle="dropdown">
                    <i class="material-icons md-18">&#xe5d4;</i>
                  </a>

                  <div class="dropdown-menu pull-right">
                    <%= link_to 'Редактировать', edit_post_comment_path(@post, comment), class: 'dropdown-item edit-comment-btn', remote: true %>
                    <%= link_to 'Удалить', post_comment_path(@post, comment), method: :delete, class: 'dropdown-item', data: { confirm: 'Are you sure?' } %>
                  </div>
                </li>
              </ul>
                  
              <ul class="nav comment-likes">
                <li>
                  <% if user_vote_on(comment).present? %>
                    <%= link_to post_comment_vote_path(@post, comment, user_vote_on(comment)), method: :delete, class: 'nav-link' do %>
                      <%= comment.votes.count %>
                      <i class="fa fa-heart liked-icon"></i>
                    <% end %>
                  <% else %>
                    <%= link_to post_comment_votes_path(@post, comment), method: :post, class: 'nav-link' do %>
                      <%= comment.votes.count %>
                      <i class="fa fa-heart-o"></i>
                    <% end %>
                  <% end %>
                </li>
              </ul>

              <div class="sl-author"><b><%= link_to comment.user.name, user_posts_path(comment.user) %></b></div>
              <div class="sl-date text-muted"><%= format_datetime(comment.created_at) %></div>
              <div>
                <p><%= comment.content %></p>
              </div>

              <!-- comment reply form -->
              <!-- <div class="box collapse m-a-0 b-a" id="reply-1">
                <form>
                  <textarea class="form-control no-border" rows="1" placeholder="Ваш комментарий"></textarea>
                </form>
                <div class="box-footer clearfix">
                  <button class="btn btn-info pull-right btn-sm">Отправить</button>
                  <ul class="nav nav-pills nav-sm">
                    <li class="nav-item"><a class="nav-link" href><i class="fa fa-camera text-muted"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href><i class="fa fa-video-camera text-muted"></i></a></li>
                  </ul>
                </div>
              </div> -->
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="text-center">
    <%= will_paginate @comments, renderer: ::PaginateHelper::LinkRenderer %>
  </div>
<% end %>
