<div class="box">
  <div class="box-body dker">

    <% if posts.present? %>
      <% posts.pinned.each do |post| %>
        <%= link_to diary_post_path(post) do %>
          <%= render partial: 'diary/posts/post', locals: { post: post } %>
        <% end %>
      <% end %>

      <% posts.unpinned.each do |post| %>
        <%= link_to diary_post_path(post) do %>
          <%= render partial: 'diary/posts/post', locals: { post: post } %>
        <% end %>
      <% end %>

      <div class="text-center">
        <%= will_paginate @posts, param_name: 'posts_page', renderer: ::PaginateHelper::LinkRenderer %>
      </div>
    <% else %>
      <div class="box m-t p-a-sm no-content">
        <div class="box-body">
          <h3 class="text-muted">
            <span class="w-32 m-r rounded default">:(</span> Ничего не найдено
          </h3>
        </div>
      </div>
    <% end %>

  </div>
</div>