%h1 DIARY Search
%b= "Query: #{params[:query]}"
%br= link_to 'К DIARY постам', diary_posts_path
%hr


%h3 Tags
-if @tags.present?

  - @tags.each do |tag|
    %b= link_to tag.name, diary_tag_path(tag.name)
%hr



%h3 Posts
-if @posts.present?
  %table
    %thead
      %tr
        %th Content
        %th Supplemented
        %th Pinned
        %th Category
        %th
        %th
        %th
    %tbody
      - @posts.each do |post|
        %tr
          %td= post.content
          %td= post.supplemented
          %td= post.pinned
          %td= post.category_id
          %td= link_to 'Show post', diary_post_path(post)
%hr



%h3 Comments
-if @comments.present?
  %table
    %thead
      %tr
        %th Content
        %th Post
        %th User
        %th
        %th
        %th
    %tbody
      - @comments.each do |comment|
        %tr
          %td= comment.content
          %td= comment.post_id
          %td= comment.user_id
%hr
