<div class="box <%= visibility_class %>">
  <!-- post header -->
  <div class="box-header <%= pinned_state_class %>">
    <h3>
      <%= pin_indicator %>
      <b><%= show_post_link %></b>
      <%= state_labels %>
    </h3>

    <small>
      <%= timestamps %>
    </small>
  </div>

  <!-- post dropdown menu -->
  <div class="box-tool">
    <ul class="nav">
      <li class="nav-item inline dropdown">
        <a class="nav-link" data-toggle="dropdown"><i class="material-icons md-18">&#xe5d4;</i>
        </a>
        <div class="dropdown-menu pull-right">
          <%= edit_link %>
          <%= delete_link %>

          <div class="dropdown-divider"></div>

          <%= form_for model, as: 'post', url: post_path(model), method: :patch do |f| %>
            <%= f.hidden_field :pinned, value: !pinned %>
            <%= f.submit (pinned ? 'Открепить' : 'Закрепить'), class: 'dropdown-item' %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>

  <!-- post content -->
  <div class="box-body">
    <p class="m-a-0">
      <%= post_content %>
    </p>

    <%= post_tags %>
  </div>
</div>