<div class="b-b b-primary nav-active-primary diary-search-tabs"> 
  <ul class="nav nav-tabs"> 
    <li class="nav-item"> 
      <a class="nav-link active" href="" data-toggle="tab" data-target="#search-posts-tab">Записи <span class="label label-sm primary m-l-xs"><%= @posts.count %></span></a> 
    </li> 
    <li class="nav-item"> 
      <a class="nav-link" href="" data-toggle="tab" data-target="#search-comments-tab">Комментарии <span class="label label-sm primary m-l-xs"><%= @comments.count %></span></a> 
    </li> 
    <li class="nav-item"> 
      <a class="nav-link" href="" data-toggle="tab" data-target="#search-tags-tab">Хэш-теги <span class="label label-sm primary m-l-xs"><%= @tags.count %></span></a> 
    </li> 
  </ul> 
</div> 

<div class="tab-content">
  <div class="tab-pane animated fadeIn text-muted active" id="search-posts-tab" aria-expanded="true">
    <%= render partial: 'posts', locals: { posts: @posts } %>
  </div>
  <div class="tab-pane animated fadeIn text-muted" id="search-comments-tab" aria-expanded="false">
    <%= render partial: 'comments', locals: { comments: @comments } %>
  </div>
  <div class="tab-pane animated fadeIn text-muted" id="search-tags-tab" aria-expanded="false">
    <%= render partial: 'tags', locals: { tags: @tags }%>
  </div>
</div>
