!!!
%html
  %head
    %title LifeLog
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body

    - if notice || alert
      .notice= notice
      .alert= alert

    - if user_signed_in?
      = link_to 'Выход', destroy_user_session_path, method: :delete
    - else
      = link_to 'Вход', new_user_session_path
      = link_to 'Регистрация', new_user_registration_path

    = link_to 'Home page', root_path
    = link_to 'All users', users_path

    = yield
