!!!
%html
  %head
    %title LifeLog Beta
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = csrf_meta_tags
    = stylesheet_link_tag    'devise', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'devise', 'data-turbolinks-track': 'reload'

  %body

  .ui.middle.aligned.center.aligned.grid
    .column
      %h2.ui.teal.image.header
        .content LifeLog

      - if devise_error_messages!.present? || flash[:alert].present?
        .ui.error.message= (flash[:alert] || devise_error_messages!.html_safe)
      .ui.message.hidden

      = yield