<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Публикации | LifeLog</title>
    <%= stylesheet_link_tag "diary", media: 'all', 'data-turbolinks-track': 'reload'  %>
    <%= javascript_include_tag "diary", 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>

    <!-- vendor style -->
    <link rel="stylesheet" href="/assets/animate.css/animate.min.css" type="text/css" />
    <link rel="stylesheet" href="/assets/glyphicons/glyphicons.css" type="text/css" />
    <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="/assets/material-design-icons/material-design-icons.css" type="text/css" />
    <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap.min.css" type="text/css" />

    <link rel="stylesheet" href="/assets/styles/app.css" type="text/css" />
    <link rel="stylesheet" href="/assets/styles/font.css" type="text/css" />
  </head>

  <body>
    <div class="app" id="app">
      <div id="content" class="app-content box-shadow-z0" role="main">

        <!-- Navbar -->
        <div class="app-header navbar-md white box-shadow">
          <%= render partial: 'layouts/shared/navbar'%>
        </div>

        <!-- Page -->
        <div ui-view class="app-body container" id="view">
          <div class="row">

            <%# Left empty column %>
            <div class="col-md-2">
            </div>

            <!-- Content -->
            <div class="content col-md-6">
              <ul class="timeline">
                <%= yield %>
              </ul>
            </div>

            <%# Right sidebar %>
            <div class="sidebar col-md-3">

              <%# User photo %>
              <div class="box">
                <div class="item">
                  <div class="item-bg">
                    <%= image_tag(current_user.photo_url, class: 'blur') %>
                  </div>
                  <div class="p-a-lg pos-rlt text-center">
                    <%= image_tag(current_user.photo_url, class: 'img-circle w-56 diary-avatar') %>
                  </div>
                </div>
                <div class="p-a text-center">
                  <a href="" class="text-md m-t block"><%= current_user.name %></a>
                  <p><small><em>Всего записей: <strong><%= current_user.diary_posts.count %></strong></em></small></p>
                  <p>
                    <%= link_to 'Создать', new_diary_post_path, class: 'btn btn-sm primary' %>
                    <%= link_to 'Все записи', diary_posts_path, class: 'btn btn-sm btn-outline b-primary' %>
                  </p>
                </div>
              </div>

              <%# Search section %>
              <div class="box">
                <%= form_tag diary_search_index_path, method: :get do %>
                  <div class="box-header">
                    <div class="input-group">
                      <%= text_field_tag 'query', params[:query], class: 'form-control form-control-sm', placeholder: 'Поиск по странице' %>
                      <span class="input-group-btn">
                        <%= button_tag(type: 'submit', class: "btn b-a no-shadow white btn-sm") do %>
                          <i class="fa fa-search"></i> 
                        <% end %>
                      </span>
                    </div>
                  </div>

                  <div class="box-header">
                    <a id="hide-post-filters-btn" class="pull-right text-muted"><i class="fa fa-chevron-up"></i></a>
                    <h3>
                      <i class="fa fa-filter"></i>
                      Параметры поиска
                    </h3>
                  </div>

                  <div id="filters-block" class="box-body dker hidden"> 
                    <ul class="list-unstyled m-t-n-sm">
                      <li class="checkbox">
                        <label class="ui-check">
                          <input type="checkbox" name="post[pinned]" id="post_pinned"><i></i> Закрепленные
                        </label>
                      </li>
                      <li class="checkbox">
                        <label class="ui-check">
                          <input type="checkbox" name="post[supplemented]" id="post_supplemented"><i></i> Обновленные
                        </label>
                      </li>
                    </ul>
                  </div>
                <% end %>
              </div>

              <%# Categories section  %>
              <div class="box">
                <div class="box-header">
                  <a id="hide-categories-btn" class="pull-right text-muted"><i class="fa fa-chevron-up"></i></a>
                  <h3>
                    <%= link_to new_diary_category_path, class: 'btn btn-sm btn-primary text-white', id: 'new-category-btn', remote: true do %>
                      <i class="fa fa-plus-circle"></i>
                    <% end %>
                    Категории
                  </h3>
                </div>

                <ul id="categories-list" class="list inset">
                  <% @categories.each do |category| %>
                    <div id="category-<%= category.id %>">
                      <li class="<%= define_active_category(category) %> category-item list-item">
                      
                        <%# Category options %>
                        <div class="box-tool hidden">
                          <ul class="nav">
                            <li class="nav-item inline dropdown">
                              <a class="nav-link" data-toggle="dropdown">
                                <i class="material-icons md-18">&#xe5d4;</i>
                              </a>
                              <div class="dropdown-menu pull-right">
                                <%= link_to 'Редактировать', edit_diary_category_path(category), class: 'dropdown-item', remote: true %>
                                <%= link_to 'Удалить', diary_category_path(category), method: :delete, class: 'dropdown-item', data: { confirm: 'Are you sure?' } %>
                              </div>
                            </li>
                          </ul>
                        </div>
                                
                        <span class="category-color-label pull-left category-<%= category.color %>"><i class="fa fa-circle text-xs"></i></span>
                        <div class="list-body"><%= link_to category.title, diary_category_path(category) %></div>
                      </li>
                    </div>
                  <% end %>
                </ul>
              </div>

            </div>
          </div>
        </div>

      <%= render partial: 'layouts/shared/theme_switcher' %>
    </div>
  </body>
</html>
