<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Публикации | LifeLog</title>
    <%= stylesheet_link_tag "diary", media: 'all', 'data-turbolinks-track': 'reload'  %>
    <%= javascript_include_tag "diary", 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>

    <!-- vendor style -->
    <link rel="stylesheet" href="/assets/animate.css/animate.min.css" type="text/css" />
    <link rel="stylesheet" href="/assets/glyphicons/glyphicons.css" type="text/css" />
    <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="/assets/material-design-icons/material-design-icons.css" type="text/css" />
    <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap.min.css" type="text/css" />

    <link rel="stylesheet" href="/assets/styles/app.css" type="text/css" />
    <link rel="stylesheet" href="/assets/styles/font.css" type="text/css" />
  </head>

  <body>
    <div class="app" id="app">
      <div id="content" class="app-content box-shadow-z0" role="main">

        <!-- Navbar -->
        <div class="app-header navbar-md white box-shadow">
          <%= render partial: 'layouts/shared/navbar'%>
        </div>

        <!-- Page -->
        <div ui-view class="app-body container" id="view">
          <div class="row">

            <%# Left empty column %>
            <div class="col-md-2">
            </div>

            <!-- Content -->
            <div class="content col-md-6">
              <ul class="timeline">
                <%= yield %>
              </ul>
            </div>

            <%# Right sidebar %>
            <div class="sidebar col-md-3">

              <%# User photo %>
              <div class="box">
                <div class="item">
                  <div class="item-bg">
                    <%= image_tag(current_user.photo_url, class: 'blur') %>
                  </div>
                  <div class="p-a pos-rlt text-center">
                    <%= image_tag(current_user.photo_url, class: 'img-circle w-96 diary-avatar') %>
                  </div>
                </div>
                <div class="p-a text-center">
                  <a href="" class="text-md m-t block"><%= current_user.name %></a>
                  <p><small><em>Всего записей: <strong><%= current_user.diary_posts.count %></strong></em></small></p>
                  <%= link_to 'Создать запись', new_diary_post_path, class: 'btn btn-sm primary' %>
                </div>
              </div>

              <%# Search section %>
              <%= form_tag diary_search_index_path, method: :get do %>
                <div class="box">
                  <div class="box-body">
                    <div class="input-group input-group">
                      <%= text_field_tag 'query', params[:query], class: 'form-control form-control-sm', placeholder: 'Поиск по странице' %>
                      <span class="input-group-btn">
                        <%= button_tag(type: 'submit', class: "btn b-a no-shadow white btn-sm") do %>
                          <i class="fa fa-search"></i> 
                        <% end %>
                      </span>
                    </div>
                  </div>
                  
                  <%= link_to '#', id: 'hide-filter-btn', class: "list-group-item" do %>
                    <span class="text-default"><i class="fa fa-filter"></i></span>
                    <span class="pull-right text-default"><i id='hide-filter-icon' class="fa fa-chevron-down"></i></span>
                    Параметры поиска
                  <% end %>
                  
                  <div id='filter-block' class='box-body dker hidden'> 
                    <ul class="list-unstyled filter-options">
                      <li class="checkbox">
                        <label class="ui-check">
                          <%= check_box_tag 'post[pinned]', nil, @filter_pinned %><i></i> Закрепленные
                        </label>
                      </li>
                      <li class="checkbox">
                        <label class="ui-check">
                          <%= check_box_tag 'post[supplemented]', nil, @filter_supplemented %><i></i> Обновленные
                        </label>
                      </li>
                    </ul>
                  </div>
                </div>
              <% end %>


              <%# Categories section  %>
              <div class="box">
                <div class="box-header">
                  <%= link_to new_diary_category_path, class: 'text-muted pull-right', id: 'new-category-btn' do %>
                    Создать
                  <% end %>
                  <h2 class="v-m">Категории</h2>
                </div>

                <div id="new-category-block" class="m-a hidden">
                  <%= form_for :category, url: diary_categories_path, method: :post do |f| %>
                    <div class="input-group">
                      <%= f.text_field :title, class: 'form-control form-control-sm', placeholder: 'Новая категория' %>
                      <span class="input-group-btn">
                        <%= button_tag class: "btn btn-default btn-sm no-shadow" do %>
                          <i class="fa fa-plus"></i>
                        <% end %>
                      </span>
                    </div>
                  <% end %>
                </div>

                <div id='category-list' class="list-group m-b">
                  <%= link_to diary_posts_path, class: "list-group-item category-border-grey #{item_selected?(diary_posts_path)}" do %>
                    <span class="pull-right"><i class="fa fa-list-ul"></i></span>
                    Все записи
                  <% end %>

                  <% @categories.each do |category| %>
                    <%= link_to diary_category_path(category), class: "list-group-item category-border-#{category.color} #{item_selected?(diary_category_path(category))}" do %>
                      <span class="pull-right category-<%= category.color %>"><i class="fa fa-circle text-xs"></i></span>
                      <%= category.title %>
                    <% end %>
                  <% end %>
                </div>
              </div>

            </div>
          </div>
        </div>

      <%= render partial: 'layouts/shared/theme_switcher' %>
    </div>
  </body>
</html>
