!!!
%html
  %head
    %title LifeLog Beta
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = csrf_meta_tags
    = stylesheet_link_tag    'landing_page', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'landing_page', 'data-turbolinks-track': 'reload'

  %body

    -# Hidden navbar
    .ui.large.top.fixed.hidden.menu
      .ui.container
        = link_to 'Главная', root_path, class: 'active item'
        = link_to 'Новости', '#', class: 'item'
        = link_to 'Пользователи', '#', class: 'item'
        = link_to 'О сайте', '#', class: 'item'
        = link_to 'Контакты', '#', class: 'item'

        .right.menu
          .item
            = link_to 'Вход', new_user_session_path, class: 'ui button'
          .item
            = link_to 'Регистрация', new_user_registration_path, class: 'ui positive button'

    -# Page contents
    .pusher
      -# Head block
      .ui.inverted.vertical.masthead.center.aligned.segment
        .ui.container
          .ui.large.secondary.inverted.pointing.menu
            = link_to 'Главная', root_path, class: 'active item'
            = link_to 'Новости', '#', class: 'item'
            = link_to 'Пользователи', '#', class: 'item'
            = link_to 'О сайте', '#', class: 'item'
            = link_to 'Контакты', '#', class: 'item'

            .right.item
              = link_to 'Вход', new_user_session_path, class: 'ui inverted basic button'
              = link_to 'Регистрация', new_user_registration_path, class: 'ui inverted green basic button'

        .ui.text.container
          %h1.ui.inverted.header LifeLog
          %h2 Простой, эффективный и персональный
          %h3 Сохраняйте все моменты своей жизни в Вашем персональном дневнике
          Возьмите контроль над Вашей жизнью, целями, идеями и желаниями. Вместе с LifeLog
          вы покорите любую недосягаемую вершину
        
        %br
        = link_to 'Зарегистрироваться', new_user_registration_path, class: 'ui huge positive button'

      -# Benefits block
      .ui.vertical.stripe.center.aligned.segment
        .ui.text.container
          %h3.ui.header Будьте успешны и эффективны
          %p LifeLog предоставит для Вас все необходимые средства и инструменты

        .ui.center.aligned.feature.stackable.grid
          .four.wide.column
            .ui.segment
              %i.huge.circular.teal.write.icon
              %h2 Публикуйте записи
              %p Полноценный редактор позволит Вам форматировать и оформлять записи так, как Вы пожелаете. Обсуждайте и делитесь впечатлениями о записи в комментариях

          .four.wide.column
            .ui.segment
              %i.huge.circular.green.bookmark.icon
              %h2 Ведите личный дневник
              %p Храните все важные события, мысли, идеи, проблемы, достижения в Вашем персональном дневнике. К каждой записи Вы можете прикреплять заметки и фотографии

          .four.wide.column
            .ui.segment
              %i.huge.circular.red.checkmark.icon
              %h2 Управляйте целями
              %p Возьмите верх над своими желаниями и мечтами. Система управления целями поможет Вам быстро и эффективно добиваться поставленных целей во чтобы-то ни было

      -# Rates block
      .ui.vertical.stripe.center.aligned.dark.segment
        .ui.container
          %h3.ui.header LifeLog в цифрах
          %p Наши показатели растут кажд доказывая эффективность нашей системы
        
        .ui.center.aligned.rates.stackable.grid
          .four.wide.column
            %i.huge.circular.teal.write.icon
            %h2= "#{@blog_posts_count} публикации"
          
          .four.wide.column
            %i.huge.circular.pink.bookmark.icon
            %h2= "#{@diary_posts_count} записей в дневниках"

          .four.wide.column
            %i.huge.circular.green.checkmark.icon
            %h2= "#{@completed_goals_count} целей достигнуто"

          .four.wide.column
            %i.huge.circular.orange.user.icon
            %h2= "#{@users_count} активных пользователей"
          
      -# Registration form block
      .ui.vertical.stripe.center.aligned.segment
        .ui.text.container
          %h3.ui.header Начните прямо сейчас
          %p Откройте для себя новый подход к раскрытию Вашего потенциала

          = form_for :user, url: user_registration_path, html: { class: 'ui form' } do |f|
            .field= f.text_field :name, placeholder: 'Ваше имя'
            .field= f.email_field :email, placeholder: 'Электронная почта'
            .field= f.password_field :password, placeholder: 'Пароль (минимум 6 символов)', autocomplete: "off"
            .field= f.password_field :password_confirmation, placeholder: 'Повторите пароль', autocomplete: "off"
            .actions= f.submit "Бесплатная регистрация", class: 'ui positive button'

          %br
          %small Присоединяйтесь к сообществу успешных целеустремленных людей и Вы увидите, как Ваши мечты и желания начнут осуществляться вместе с LifeLog

      -# Footer
      .ui.inverted.vertical.footer.segment
        .ui.container
          .ui.stackable.inverted.divided.equal.height.stackable.grid
            .three.wide.column
              %h4.ui.inverted.header LifeLog
              .ui.inverted.link.list
                = link_to 'Главная', root_path, class: 'item'
                = link_to 'Новости', '#', class: 'item'
                = link_to 'Пользователи', '#', class: 'item'
                = link_to 'О сайте', '#', class: 'item'
                = link_to 'Контакты', '#', class: 'item'
            
            .three.wide.column
              %h4.ui.inverted.header Проект
              .ui.inverted.link.list
                = link_to 'GitHub репозиторий', 'https://github.com/vrtsev/LifeLog', class: 'item'
                = link_to 'Написать разработчику', '#', class: 'item'
                = link_to 'Тех. спецификации', '#', class: 'item'
                = link_to 'Исп. технологии', '#', class: 'item'
            
            .seven.wide.column
              %h4.ui.inverted.header LifeLog Beta
              %p Powered by Ruby on Rails. © LifeLog 2017. All rights reserved