<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Цели | LifeLog</title>
    <%= stylesheet_link_tag "objectives" %>
    <%= javascript_include_tag "objectives" %>
    <%= csrf_meta_tags %>

    <!-- vendor style -->
    <link rel="stylesheet" href="/assets/animate.css/animate.min.css" type="text/css" />
    <link rel="stylesheet" href="/assets/glyphicons/glyphicons.css" type="text/css" />
    <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="/assets/material-design-icons/material-design-icons.css" type="text/css" />
    <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap.min.css" type="text/css" />

    <link rel="stylesheet" href="/assets/styles/app.css" type="text/css" />
    <link rel="stylesheet" href="/assets/styles/font.css" type="text/css" />
  </head>

  <body>
    <div class="app" id="app">
      <div id="content" class="app-content box-shadow-z0" role="main">

        <!-- Navbar -->
        <div class="app-header navbar-md white box-shadow">
          <%= render partial: 'layouts/shared/navbar'%>
        </div>

        <!-- Page -->
          <div class="app-body-inner">
            <div class="row-col row-col-xs b-b">

              <div class="col-md-3 light bg b-r">
                <div class="row-col">
                  <div class="p-a-xs b-b">
                    <%= form_tag objectives_search_index_path, method: :get do %>
                      <div class="input-group">
                        <span class="input-group-addon no-border no-bg"><i class="fa fa-search"></i></span>
                        <%= text_field_tag 'query', params[:query], class: "form-control no-border no-bg", placeholder: "Поиск целей" %>

                        <% if current_page?(objectives_search_index_path) %>
                          <span class="input-group-addon no-border no-bg text-muted">
                            <%= link_to objectives_goals_path do %>
                              <small>Отмена </small><i class="fa fa-times"></i>
                            <% end %>
                          </span>
                        <% end %>

                      </div>
                    <% end %>
                  </div>
                  <div class="row-row">
                    <div class="row-body scrollable hover">
                      <div class="row-inner">
                        <div class="list inset">
                        
                          <% if params[:controller] == 'objectives/tags' %>
                            <div class="box primary dk">
                              <div id="current-category-box" class="box-body">
                                <div class="box-tool">
                                  <ul class="nav">
                                    <li class="nav-item inline dropdown">
                                      <%= link_to objectives_goals_path, class: 'text-muted' do %>
                                        Отмена <i class="fa fa-times"></i>
                                      <% end %>
                                    </li>
                                  </ul>
                                </div>
                                
                                <div class="clear">Поиск целей по тегу <b>'<%= @tag.name %>'</b> <span class="label info"><%= @goals.count %></span></div>
                              </div>
                            </div>
                          <% end %>

                          <% if @goals.present? %>
                            <% @goals.each do |goal| %>
                              <div class="list-item pointer">
                                <div id="goals-list" class="list-body">

                                  <% if goal.completed? %>
                                    <i class="fa fa-check-circle-o icon-green"></i>
                                    <strong class="text-muted">
                                      <s><%= link_to goal.title, objectives_goal_path(goal) %></s>
                                    </strong>
                                  <% else %>
                                    <strong><%= link_to goal.title, objectives_goal_path(goal) %></strong>
                                  <% end %>

                                  <div class="text-sm">
                                    <span class="text-muted">
                                      <strong><%= format_datetime(goal.end_date) %>|</strong>
                                      <strong><%= goal.tasks.count %></strong> задач
                                    </span> 
                                  </div>

                                  <% if goal.tags.present? %>
                                    <div class="text-sm">
                                      <% goal.tags.each do |tag| %>
                                        <span class="label"><%= link_to "##{tag.name}", objectives_tag_path(tag.name) %></span>
                                      <% end %>
                                    </div>
                                  <% end %>

                                </div>
                              </div>
                            <% end %>
                          <% else %>
                            <div class="p-y-lg clearfix">
                              <div class="text-center text-muted">
                                <h3 class="_700 m-b">Нет целей</h3>
                              </div>
                            </div>
                          <% end %>
                          

                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="p-a b-t text-center">
                    <%= link_to new_objectives_goal_path, class: "btn btn-sm success btn-addon" do %>
                      <i class="fa fa-plus fa-fw m-r-xs"></i> Создать цель
                    <% end %>
                  </div>
                </div>
              </div>

              <div class="col-md-7">
                <div class="row-col">
                  <div class="row-row">
                    <div class="row-body scrollable">
                      <div class="row-inner">
                        <%= yield %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-2">
                <div class="row-col">

                  <div class="col-sm w w-auto-xs light lt bg-auto">
                    <div class="padding pos-rlt">
                      <div class="hidden-xs-down m-t" id="inbox-menu">


                        <h5 class="m-y">
                          Категории
                          <%= link_to 'Добавить', new_objectives_category_path, class: "btn btn-sm primary pull-right", remote: true %>
                        </h5>

                        <div class="nav-active-white">
                          <ul class="nav nav-pills nav-stacked nav-sm">
                            <li id="goal-category-list" class="nav-item">

                              <% @categories.each do |category| %>
                                <%= link_to objectives_category_path(category), class: 'nav-link', remote: true do %>
                                  <i class="fa m-r-sm fa-circle category-<%= category.color %>"></i>
                                  <%= category.title %>
                                <% end %>
                              <% end %>

                            </li>
                          </ul>
                        </div>


                        <h5 class="m-y">Фильтры</h5>
                        <div class="nav-active-primary">
                          <div class="nav nav-pills nav-sm">
                              <%= link_to 'Все цели', objectives_goals_path, class: "nav-link #{ 'active' unless current_page?(objectives_search_index_path) }" %>

                              <%= build_filters_menu(@filters) %>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

      <%= render partial: 'layouts/shared/theme_switcher' %>
    </div>
  </body>
</html>
