<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Публикации | LifeLog</title>
    <%= stylesheet_link_tag "publications", media: 'all', 'data-turbolinks-track': 'reload'  %>
    <%= javascript_include_tag "publications", 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>

    <!-- vendor style -->
    <link rel="stylesheet" href="/assets/animate.css/animate.min.css" type="text/css" />
    <link rel="stylesheet" href="/assets/glyphicons/glyphicons.css" type="text/css" />
    <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="/assets/material-design-icons/material-design-icons.css" type="text/css" />
    <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap.min.css" type="text/css" />

    <link rel="stylesheet" href="/assets/styles/app.css" type="text/css" />
    <link rel="stylesheet" href="/assets/styles/font.css" type="text/css" />
  </head>

  <body>
    <div class="app" id="app">
      <div id="content" class="app-content box-shadow-z0" role="main">

        <!-- Navbar -->
        <div class="app-header navbar-md white box-shadow">
          <%= render partial: 'layouts/shared/navbar'%>
        </div>

        <!-- Page content -->
        <div ui-view class="app-body container" id="view">
          <div class="padding">
            <div class="row">
              <div class="col-sm-12 push-md-3 col-md-6">

                <%= render partial: 'shared/flash_messages' %>

                <%= yield %>
        	    </div>
            
              <!-- Left sidebar -->
              <div class="col-sm-6 pull-md-6 col-md-3">
                <div class="box">
                  <div class="p-a-md text-center">
                    <p><%= image_tag(current_user.photo_url, class: 'img-circle w-160') %></p>
                    <%= link_to current_user.name, posts_path, class: "text-md block" %>
                    <p><small><%= current_user.status %></small></p>
                    <div class="text-center m-t">
                      <%= link_to 'Создать запись', new_post_path, class: 'btn btn-sm rounded primary m-y-xs' %>
                      <%= link_to 'Профиль', edit_user_registration_path, class: "btn btn-sm rounded btn-outline b-primary " %>
                    </div>
                  </div>

                  <div class="row no-gutter b-t b-b">
                    <div class="col-xs-6 b-r">
                      <div class='p-a block text-center'>
                        <span class="block _600"><%= current_user.publication_posts.count %></span>
                        <span>Публикаций</span>
                      </div>
                    </div>
                    <div class="col-xs-6">
                      <div class='p-a block text-center'>
                        <span class="block _600"><%= current_user.followers.count %></span>
                        <span>Подписчиков</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Right sidebar (categories) -->
              <div class="col-sm-6 col-md-3">

                <!-- search block -->
                <%= form_tag search_index_path, method: :get do %>
                  <div class="box">
                    <div class="box-body">
                      <div class="input-group input-group">
                        <%= text_field_tag 'query', params[:query], class: 'form-control form-control-sm', placeholder: 'Поиск по странице' %>
                        <span class="input-group-btn">
                          <%= button_tag(type: 'submit', class: "btn b-a no-shadow white btn-sm") do %>
                            <i class="fa fa-search"></i> 
                          <% end %>
                        </span>
                      </div>
                    </div>
                    
                    <%= link_to '#', id: 'hide-filter-btn', class: "list-group-item" do %>
                      <span class="text-default"><i class="fa fa-filter"></i></span>
                      <span class="pull-right text-default"><i id='hide-filter-icon' class="fa fa-chevron-down"></i></span>
                      Параметры поиска
                    <% end %>
                    
                    <div id='filter-block' class='box-body dker hidden'> 
                      <ul class="list-unstyled filter-options">
                        <li class="checkbox">
                          <label class="ui-check">
                            <%= check_box_tag 'post[pinned]', nil, @filter_pinned %><i></i> Закрепленные
                          </label>
                        </li>
                        <li class="checkbox">
                          <label class="ui-check">
                            <%= check_box_tag 'post[supplemented]', nil, @filter_supplemented %><i></i> Обновленные
                          </label>
                        </li>
                        <li class="checkbox">
                          <label class="ui-check">
                            <%= check_box_tag 'post[visible]', nil, @filter_visible %><i></i> Скрытые
                          </label>
                        </li>
                        <li class="checkbox">
                          <label class="ui-check">
                            <%= check_box_tag 'post[commentable]', nil, @filter_commentable %><i></i> Комментируемые
                          </label>
                        </li>
                      </ul>
                    </div>
                  </div>
                <% end %>

                <!-- categories block -->
                <div class="box">
                  <div class="box-header">
                    <%= link_to new_category_path, class: 'text-muted pull-right', id: 'new-category-btn' do %>
                      Создать
                    <% end %>

                    <h2 class="v-m">Категории</h2>
                  </div>

                  <div id='category-list' class="list-group m-b">

                    <%= link_to posts_path, class: "list-group-item category-border-grey #{item_selected?(posts_path)}" do %>
                      <span class="pull-right"><i class="fa fa-list-ul"></i></span>
                      Все записи
                    <% end %>

                    <% @categories.each do |category| %>
                      <%= link_to category_path(category), class: "list-group-item category-border-#{category.color} #{item_selected?(category_path(category))}" do %>
                        <span class="pull-right category-<%= category.color %>"><i class="fa fa-circle text-xs"></i></span>
                        <%= category.title %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
        	</div>
        </div>

      <%= render partial: 'layouts/shared/theme_switcher' %>
    </div>
  </body>
</html>
