<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Публикации | LifeLog</title>
    <%= stylesheet_link_tag "publications" %>
    <%= javascript_include_tag "publications" %>
    <%= csrf_meta_tags %>

    <!-- vendor style -->
    <link rel="stylesheet" href="../assets/animate.css/animate.min.css" type="text/css" />
    <link rel="stylesheet" href="../assets/glyphicons/glyphicons.css" type="text/css" />
    <link rel="stylesheet" href="../assets/font-awesome/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="../assets/material-design-icons/material-design-icons.css" type="text/css" />
    <link rel="stylesheet" href="../assets/bootstrap/dist/css/bootstrap.min.css" type="text/css" />

    <link rel="stylesheet" href="../assets/styles/app.css" type="text/css" />
    <link rel="stylesheet" href="../assets/styles/font.css" type="text/css" />
  </head>

  <body>
    <div class="app" id="app">
      <div id="content" class="app-content box-shadow-z0" role="main">

        <!-- Navbar -->
        <div class="app-header navbar-md white box-shadow">
          <%= render partial: 'layouts/shared/navbar'%>
        </div>

        <!-- Page content -->
        <div ui-view class="app-body container" id="view">
          <div class="padding">
            <div class="row">
              <div class="col-sm-12 push-md-3 col-md-6">
                <%= yield %>
        	    </div>
            
              <!-- Left sidebar -->
              <div class="col-sm-6 pull-md-6 col-md-3">
                <div class="box">
                  <div class="p-a-md text-center">
                    <p><%= render_photo_of(@user, 'img-circle w-xs') %></p>
                    <a href class="text-md block"><%= @user.name %></a>
                    <p><small><%= @user.status %></small></p>
                    <div class="text-center m-t">
                      <a href class="btn btn-sm rounded primary w-sm m-y-xs">Подписаться</a>
                      <a href class="btn btn-sm rounded btn-outline b-primary w-sm">Профиль</a>
                    </div>
                  </div>

                  <div class="row no-gutter b-t b-b">
                    <div class="col-xs-6 b-r">
                      <%= link_to user_posts_path(@user), class: 'p-a block text-center' do %>
                        <span class="block _600"><%= @user.publication_posts.count %></span>
                        <span>Публикаций</span>
                      <% end %>
                    </div>
                    <div class="col-xs-6">
                      <%= link_to '#', class: 'p-a block text-center' do %>
                        <span class="block _600"><%= @user.followers.count %></span>
                        <span>Подписчиков</span>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Right sidebar (categories) -->
              <div class="col-sm-6 col-md-3">

                <!-- search block -->
                <%= form_tag user_search_index_path, method: :get do %>
                  <div class="box">
                    <div class="box-body">
                      <div class="input-group input-group">
                        <%= text_field_tag 'query', params[:query], class: 'form-control form-control-sm', placeholder: 'Поиск по странице' %>
                        <span class="input-group-btn">
                          <%= button_tag(type: 'submit', class: "btn b-a no-shadow white btn-sm") do %>
                            <i class="fa fa-search"></i> 
                          <% end %>
                        </span>
                      </div>
                    </div>
                    
                    <%= link_to '#', id: 'filter-btn', class: "list-group-item" do %>
                      <span class="pull-right text-default"><i class="fa fa-filter"></i></span>
                      Параметры поиска
                    <% end %>
                    
                    <div id='filter-block' class='box-body dker hidden'> 
                      <ul class="list-unstyled m-t-n-sm">
                        <li class="checkbox">
                          <label class="ui-check">
                            <%= check_box_tag 'post[pinned]', nil, @filter_pinned %><i></i> Закрепленные
                          </label>
                        </li>
                        <li class="checkbox">
                          <label class="ui-check">
                            <%= check_box_tag 'post[supplemented]', nil, @filter_supplemented %><i></i> Обновленные
                          </label>
                        </li>
                        <li class="checkbox">
                          <label class="ui-check">
                            <%= check_box_tag 'post[visible]', nil, @filter_visible %><i></i> Скрытые
                          </label>
                        </li>
                        <li class="checkbox">
                          <label class="ui-check">
                            <%= check_box_tag 'post[commentable]', nil, @filter_commentable %><i></i> Комментируемые
                          </label>
                        </li>
                      </ul>
                    </div>
                  </div>
                <% end %>

                <!-- categories block -->
                <div class="box">
                  <div id='category-list' class="list-group m-b">
                    <% @categories.each do |category| %>
                      <%= link_to user_category_path(@user, category), class: "list-group-item b-l-primary" do %>
                        <span class="pull-right text-primary"><i class="fa fa-circle text-xs"></i></span>
                        <%= category.title %>
                      <% end %>
                    <% end %>
                  </div>
                </div>


              </div>
            </div>
        	</div>
        </div>

      <%= render partial: 'layouts/shared/theme_switcher' %>
    </div>
  </body>
</html>
